/* font src */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans&display=swap');

ellipse {

    position: absolute;
    width: 1081px;
    height: 1047px;
    left: 85px;
    top: 10px;

    background: radial-gradient(50% 50% at 50% 50%, #E3C5BB 0%, #DFE2CF 100%);
    mix-blend-mode: normal;
}

body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #DFE2CF;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: justify;
    letter-spacing: -0.05em;

    color: #764248;

}

nav {
  position: absolute;
  width: 549px;
  height: 52px;
  left: 82px;
  top: 194px;
}

h1 {
  
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    line-height: 31px;
    text-align: justify;
    letter-spacing: -0.05em;
    color: #764248;
}

footer {
    position: absolute;
    width: 562px;
    height: 26px;
    left: 810px;
    top: 990px;

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.1em;
    text-transform: lowercase;
  }

button {

  background: #764248;
  mix-blend-mode: overlay;
  border: 3px solid #764248;
  box-sizing: border-box;
  border-radius: 16px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.08em;
  
}

button:hover {

  background: #764248;
  color: #FFADC6;
  mix-blend-mode: normal;
  border: 3px solid #764248;
  box-sizing: border-box;
  border-radius: 16px;
  
  }

img {
  mix-blend-mode: normal;
  border-radius: 38px;
}